<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Mercado Liebre</title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet"href="​https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css​">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <nav>
        <h1><img src="/img/logo-mercado-liebre.svg" width="" height=""></h1>

        </div>Lugar para poner la barra de busqueda<h3>
        
        </h3>Compra en cuotas y sin tarjeta de credito</h3>

        <ul>
            <li><a href="Seccion de ofertas">Ofertas</a></li>
            <li><a href="a">Tiendas Oficiales</a></li>
            <li><a href="a">Vender</a></li>
            <li><a href="a">Ayuda</a></li>
        </ul>
    <ul>
        <li><a href="a">Crea mi cuenta</a></li>
        <li><a href="a">Ingresa</a></li>
        <li><a href="a">Mis compras</a></li>
    </ul>
    <nav>
    <section>
        <h2>Basada en su ultima visita</h2>
        <article>
            <img src="/img/img-cafetera-moulinex.jpg" width="" height="" alt="">
            <div class="price">$6.770</div>
            <div>40% OFF</div>
            <h3>Cafetera Moulinex</h3>
        </article>
    </section>
    </nav>
    <nav>
            <article>
                <img src="/img/img-macbook-pro-2019.jpg" width="" height="" alt="">
                <div class="price">$220.000</div>
                <div>20% OFF</div>
                <p>MacBook Pro 2019</p>
            </article>
        </section>
        </nav>
    <nav>
            <article>
                <img src="/img/img-samsung-galaxy-s10.jpg" width="" height="" alt="">
                <div>$70.500</div>
                <div class="price">10% OFF</div>
                <p>Samsung Galaxy S10</p>
            </article>
        </section>
        </nav>
    <nav>
            <article>
                <img src="/img/img-tv-samsung-smart.jpg" width="" height="" alt="">
                <div class="price">$23.200</div>
                <div>5% OFF</div>
                <p>SmartTv Samsung 43"</p>
            </article>
        </section>
        </nav>
        <nav>
    <section>
        <h2>Seccion de ofertas</h2>
        <article>
            <img src="/img/img-cafetera-moulinex.jpg" width="" height="" alt="">
            <div class="price">$6.770</div>
            <div>40% OFF</div>
            <p>Cafetera Moulinex</p>
        </article>
    </section>
    </nav>
    <nav>
            <article>
                <img src="/img/img-macbook-pro-2019.jpg" width="" height="" alt="">
                <div class="price">$220.000</div>
                <div class="price">20% OFF</div>
                <p>MacBook Pro 2019</p>
            </article>
        </section>
        </nav>
    <nav>
            <article>
                <img src="/img/img-samsung-galaxy-s10.jpg" width="" height="" alt="">
                <div class="price">$70.500</div>
                <div>10% OFF</div>
                <p>Samsung Galaxy S10</p>
            </article>
        </section>
        </nav>
    <nav>
            <article>
                <img src="/img/img-tv-samsung-smart.jpg" width="" height="" alt="">
                <div class="price">$23.200</div>
                <div>5% OFF</div>
                <p>SmartTv Samsung 43"</p>
            </article>
        </section>
        </nav>

</html>