<footer>
    <section>
        <article>
            <br></br>
            <div><i class="fas fa-credit-card"></i></div>
            <h4>●Pagá con tarjeta o en efectivo</h4>
            <p>Con Mercado Liebre Cash, tenéscuotas sin interés con tarjeta o efectivo en puntos de pago.
            ¡Y siempre es seguro!</p>
            <br></br>
        </article>
        <article>
            <br></br>
            <div><i class="fas fa-gift"></i></div>
            <h4>●Envío gratis desde $ 2.500</h4>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos.
            Es un beneficio de Mercado Puntos.</p>
            <br></br>
        </article>
        <article>
            <br></br>
            <div><i class="fas fa-user-shield"></i></div>
            <h4>●Seguridad, de principio a fin</h4>
            <p>¿No te gusta? ¡Devolvelo! EnMercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
            <br></br>
        </article>
    </section>
    <p class="Copyright">●Copyright © 1999-2020 MercadoLiebre S.R.L</p>
</footer>